/* Estilo global */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #a46f4c;
    color: white;
    padding: 20px;
    text-align: center;
}

h1 {
    margin: 0;
}

/* Sección de servicios */
.services {
    display: flex;
    justify-content: space-around;
    margin: 20px;
    flex-wrap: wrap;
}

.service {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 10px;
    width: 280px;
    text-align: center;
}

.service h2 {
    color: #a46f4c;
    font-size: 24px;
}

.price {
    font-size: 18px;
    font-weight: bold;
    color: #2c3e50;
}

.duration {
    font-size: 16px;
    color: #7f8c8d;
}

.description {
    font-size: 14px;
    color: #34495e; 
}
.sub {
    font-size: 2vw; /* El tamaño de la fuente se ajustará con el ancho de la ventana */
    color: #ffffff;
}

/* Media query para pantallas más pequeñas */
@media (max-width: 768px) {
    .sub {
        font-size: 4vw; /* Ajuste de tamaño para pantallas más pequeñas */
    }
}

/* Media query para pantallas grandes */
@media (min-width: 1200px) {
    .sub {
        font-size: 1.5vw; /* Ajuste de tamaño para pantallas grandes */
    }
}


/* Footer */
footer {
    text-align: center;
    padding: 20px;
    background-color: #a46f4c;
    color: white;
}
